/*end reset*/
/****-----start-body----****/
body,html{
	position: relative;
 	font-family: 'Open Sans', sans-serif,\5fae\8f6f\96c5\9ed1;
 	height: 100%;
 	margin:0px;
	width: 100%;
}

.aC{
	text-decoration: none;
	color: #58524c;
}

.btnC {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btnLeft {
  width: 20px;
  height: 55px;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #f8f8f8;
  border-radius: 1px;
  position: absolute;
  z-index: 100;
}

.btnLine {
  display: inline;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}

.btn-grey {
  color: #474a4d;
  background-color: #ced7df;
  border-color: #adb8c2;
}
.btn-grey:focus,
.btn-grey.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-grey:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-grey:active:hover,
.btn-grey.active:hover,
.open > .dropdown-toggle.btn-grey:hover,
.btn-grey:active:focus,
.btn-grey.active:focus,
.open > .dropdown-toggle.btn-grey:focus,
.btn-grey:active.focus,
.btn-grey.active.focus,
.open > .dropdown-toggle.btn-grey.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-grey .badge {
  color: #337ab7;
  background-color: #fff;
}


.btn-login {
  color: #f4dfce;
  background-color: #F4A460;
  border-color: #eaa366;
}
.btn-login:focus,
.btn-login.focus {
  color: #fff;
  background-color: #f09a51;
  border-color: #e8954f;
}
.btn-login:hover {
  color: #fff;
  background-color: #f09a51;
  border-color: #e8954f;
}
.btn-login:active,
.btn-login.active,
.open > .dropdown-toggle.btn-grey {
  color: #fff;
  background-color: #f09a51;
  border-color: #e8954f;
}
.btn-login:active:hover,
.btn-login.active:hover,
.open > .dropdown-toggle.btn-grey:hover,
.btn-login:active:focus,
.btn-login.active:focus,
.open > .dropdown-toggle.btn-grey:focus,
.btn-login:active.focus,
.btn-login.active.focus,
.open > .dropdown-toggle.btn-login.focus {
  color: #fff;
  background-color: #e8954f;
  border-color: #e8954f;
}
.btn-login,
.btn-login.active,
.open > .dropdown-toggle.btn-login {
  background-image: none;
}
.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-grey,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-login.disabled.focus,
.btn-login[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #eacfb8;
  border-color: #e1c9b4;
}
.btn-login .badge {
  color: #e1b38d;
  background-color: #fff;
}

.btn-orange {
  color: #474a4d;
  background-color: #ced7df;
  border-color: #adb8c2;
}

.btn-orange:focus,
.btn-orange.focus {
  color: #fff;
  background-color: #fca11d;
  border-color: #122b40;
}
.btn-orange:hover {
  color: #fff;
  background-color: #fca11d;
  border-color: #e58c0b;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #fca11d;
  border-color: #e58c0b;
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
  color: #fff;
  background-color: #ce860d;
  border-color: #b4760e;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #ce860d;
  border-color: #b4760e;
}
.btn-orange .badge {
  color: #e5950b;
  background-color: #fff;
}

.box-horizontal{
	background-color:#f8f8f8; 
	width:230px;
	height:40px;
	top:50px;
	border: 1px solid #e5e5e5;
	position:absolute;
	z-index:190;
}

.box-vertical{
	position: absolute; 
	z-index: 185;
	height: 1000px; 
	width: 30px; 
	background-color: #f8f8f8; 
	border: 1px solid #e5e5e5;
	top: 50px; 
	left:0px;
}

.btn-lgC{
  margin:10px 0 20px ;
  width: 90%;
  height: 40px;
  border-radius: 1px;
}

.centerC {
  width: 100px;
  display: inline-table;
  margin-left: auto;
  margin-right: auto;
}

.copyRight{
	bottom:3%;
	left:2%;
	color:CDCDC1;
	position:absolute;
	z-index:1;
}

.div-relative{
  position:relative;   
  width:100%; 
  height:100%;
} 

.fadeC {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;

      -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.fontC{
font-family:arial,verdana,\5fae\8f6f\96c5\9ed1;
}


.form-controlC {
  display: block;
  width: 90%;
  height: 50px;
  padding: 6px 12px;
  margin: 15px 10px 15px 10px;; 
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-controlC:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-controlC::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-controlC:-ms-input-placeholder {
  color: #999;
}
.form-controlC::-webkit-input-placeholder {
  color: #999;
}
.form-controlC[disabled],
.form-controlC[readonly],
fieldset[disabled] .form-controlC {
  background-color: #eee;
  opacity: 1;
}
.form-controlC[disabled],
fieldset[disabled] .form-controlC {
  cursor: not-allowed;
}
textarea.form-controlC {
  height: auto;
}

.icon {
    display: inline-block;
    width: 20px; height: 20px;
    overflow: hidden;
}
.icon-del {
    background: url(images/heart.png) no-repeat center;
}
.icon > .icon {
    position: relative;
    left: -20px;
    border-right: 20px solid transparent;
    -webkit-filter: drop-shadow(20px 0);
    filter: drop-shadow(20px 0);    
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-itemC {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-itemC:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-itemC:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.list-group-itemC,
button.list-group-itemC {
  color: #555;
}
a.list-group-itemC .list-group-item-heading,
button.list-group-itemC .list-group-item-heading {
  color: #333;
  font-weight: bold;
   text-align: center;
   font-size: 14px;
}

a.list-group-itemC .list-group-item-textC-sm,
button.list-group-itemC .list-group-item-textC-sm {
  color: #333;
   text-align: center;
   margin-top: 25px;
}

a.list-group-itemC:hover,
button.list-group-itemC:hover,
a.list-group-itemC:focus,
button.list-group-itemC:focus {
  color: #555;
  text-decoration: none;
  background-color: #f8f8f8;
}
button.list-group-itemC {
  width: 100%;
  text-align: left;
}
.list-group-itemC.disabled,
.list-group-itemC.disabled:hover,
.list-group-itemC.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}
.list-group-itemC.disabled .list-group-item-heading,
.list-group-itemC.disabled:hover .list-group-item-heading,
.list-group-itemC.disabled:focus .list-group-item-heading {
  color: inherit;
}
.list-group-itemC.disabled .list-group-item-text,
.list-group-itemC.disabled:hover .list-group-item-text,
.list-group-itemC.disabled:focus .list-group-item-text {
  color: #777;
}
.list-group-itemC.active,
.list-group-itemC.active:hover,
.list-group-itemC.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.list-group-itemC.active .list-group-item-heading,
.list-group-itemC.active:hover .list-group-item-heading,
.list-group-itemC.active:focus .list-group-item-heading,
.list-group-itemC.active .list-group-item-heading > small,
.list-group-itemC.active:hover .list-group-item-heading > small,
.list-group-itemC.active:focus .list-group-item-heading > small,
.list-group-itemC.active .list-group-item-heading > .small,
.list-group-itemC.active:hover .list-group-item-heading > .small,
.list-group-itemC.active:focus .list-group-item-heading > .small {
  color: inherit;
}
.list-group-itemC.active .list-group-item-textC,
.list-group-itemC.active:hover .list-group-item-textC,
.list-group-itemC.active:focus .list-group-item-textC {
  color: #c7ddef;
}


.list-group-item-headingC {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}
.list-group-item-textC {
  margin-bottom: 0;
  line-height: 1.3;
  text-align: center;
  font-size: 12px;
}

.list-group-item-textC-sm {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.3;
  text-align: center;
  font-size: 9px;
}


.modal-headerC {
  background-color:#DC143C;
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  color:#FFFAF0;
}


.modal-headerB {
  background-color:#4F94CD;
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  color:#FFFAF0;
}

.modalC {
  position: fixed;
  top: 10%;
  right: 0;
  width: 100px;
  height: 400px;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modalB {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
   opacity:0.4;
}

.navbar-textC {
  float: left;
  color: #9d9d9d;
  font-size: 18px;
   margin-top: 13px;
  margin-bottom: 12px;
  color: #777;
}

@media (min-width: 768px) {
  .navbar-leftC {
    float: left !important;
  }
  .navbar-rightC {
    float: right !important;
    margin-right: 10px;
  }
  .navbar-rightC ~ .navbar-rightC {
    margin-right: 10px;
  }
}

.navbar-navC {
  margin: 7.5px -15px;
}
.navbar-navC > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .navbar-navC .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-navC .open .dropdown-menu > li > a,
  .navbar-navC .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-navC .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-navC .open .dropdown-menu > li > a:hover,
  .navbar-navC .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-navC {
    float: left;
    margin: 0;
  }
  .navbar-navC > li {
    float: left;
  }
  .navbar-navC > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-navC > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-navC > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-textC {
  color: #777;
}
.navbar-default .navbar-navC > li > a {
  color: #777;
}
.navbar-default .navbar-navC > li > a:hover,
.navbar-default .navbar-navC > li > a:focus {
  color: #333;
  background-color: #e7e7e7;
}
.navbar-default .navbar-navC > .active > a,
.navbar-default .navbar-navC > .active > a:hover,
.navbar-default .navbar-navC > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-navC > .disabled > a,
.navbar-default .navbar-navC > .disabled > a:hover,
.navbar-default .navbar-navC > .disabled > a:focus {
  color: #ccc;
  background-color: #e7e7e7;
}

.navbar-default .navbar-navC > .open > a,
.navbar-default .navbar-navC > .open > a:hover,
.navbar-default .navbar-navC > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-navC .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-navC .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-navC .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-navC .open .dropdown-menu > .active > a,
  .navbar-default .navbar-navC .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-navC .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-navC .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-navC .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-navC .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: #e7e7e7;
  }
}

.panel-login{
	 opacity:0.9;
	 position:absolute;
	 z-index:10;
	 width:30%;
	 height:50%; 
	 top:20%; 
	 right:10%;
}

.panel-font{
	text-align:center;
}

.panel-detailinfo {
  border-color: #ddd;
}
.panel-detailinfo > .panel-heading {
  color: #f7fef1;
  background-color: #add585;
  border-color: #ddd;
  font-size: 20px;
}
.panel-detailinfo > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-detailinfo > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-detailinfo > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.save-button{
  position: absolute;
   z-index:200;
   top: 60px;
   right: 40px;
}

.side-list-my{
  margin-top: 5px;
}

 .small-font{    
　font-size:12px; 
  text-align: center;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.80);
}

.small-font-ie {
  font-size:10.8px;
}

.text-centerC {
  text-align: center;
}

.thumbnailC {
  display: block;
  padding: 2px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 1px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnailC > img,
.thumbnailC a > img {
  margin-right: 5px;
  margin-left: 5px;
}
a.thumbnailC:hover,
a.thumbnailC:focus,
a.thumbnailC.active {
  border-color: #337ab7;
}
.thumbnailC .caption {
  padding: 9px;
  color: #333;
  font-size: 12px;
}

input， label，p, select， option， textarea， button， fieldset， legend { 
font-family: 'Microsoft YaHei';
font-size: 12px; }
